// Colors

// Primary 

$primary-heading-color:red;
$primary-btn-color:red;
$secondary-btn-color:red;

// Neutral 


// Breakpoints

$breakpoints: (
  'sm': '576px',
  'md': '768px',
  'lg': '992px',
  'xl': '1200px'
);