// Colors


$primary-btn-color:hsl(233, 26%, 24%);
$secondary-color-pink:hsl(0, 94%, 66%);


// typogrphy
$primary-text-color:hsl(229, 8%, 60%);
$primary-heading-color:hsl(229, 31%, 21%);
$link-color:hsl(228, 45%, 44%);


// Background
$primary-bgc-color:hsl(229, 31%, 21%);
$secondary-color:hsl(231, 69%, 60%);





// Breakpoints


$font-weights: ("regular": 400, "medium": 500);




// BREAKPOINTS
// $breakpoints: (
//   'xs':'375px'
//   'sm': '576px',
//   'md': '768px',
//   'lg': '992px',
//   'xl': '1200px'
//   'xxl': '1440px'
// );


// ## Layout

// - Mobile: 375px
// - Desktop: 1440px