// Colors

$navy-blue: hsl(233, 26%, 24%);
$light-blue: #5368df;
$blue: hsl(228, 45%, 44%);
$light-pink: #fa5757;
$light-grey: hsl(229, 35%, 94%);
$white: #fff;
$border-opacity: rgba(206, 206, 206, 0.466);

// Typogrphy colors
$primary-text-color: hsl(229, 8%, 60%);
$primary-heading-color: hsl(229, 31%, 21%);

// BREAKPOINTS
$breakpoints: (
  "xs": "375px",
  "sm": "576px",
  "md": "768px",
  "lg": "1096px",
  "xl": "1200px",
  "xxl": "1440px",
);

// ## Layout

// - Mobile: 375px
// - Desktop: 1440px
