.service {
  display: grid;
  grid-template-rows: auto 1fr;
  // justify-content: center;
  width: 100%;
  margin: 3rem auto;
  padding: 1rem;
  @include breakpoint-responsive("md") {
    padding: 0.5rem;
    margin: 1rem auto;
  }
  @include breakpoint-responsive("xs") {
    margin: 1rem auto;
  }
}

.downloads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__descriptions {
    text-align: center;
    width: 50%;
    line-height: 1.7rem;
    padding: 1rem 0 1rem 0;
    @include breakpoint-responsive("md") {
      width: 70%;
      padding: 1rem 0 0.5rem 0;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 1rem auto;
  position: relative;
  @include breakpoint-responsive("md") {
    grid-template-columns: 1fr;
    width: 50%;
  }
  @include breakpoint-responsive("sm") {
    width: 60%;
  }
  @include breakpoint-responsive("xs") {
    width: 80%;
  }
}

.card {
  overflow: hidden;
  width: 300px;
  padding: 2rem 0 1rem 0;
  border-radius: 15px;
  box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.32);
  // height: min-content;

  //container GRID
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto;

  @include breakpoint-responsive("md") {
    margin: 0;
    width: 80%;
  }

  &__dots {
    @include breakpoint-responsive("md") {
      width: 240px;
    }
    @include breakpoint-responsive("xs") {
      width: 200px;
    }
  }

  &__logo {
    padding: 0rem 0 2rem 0;
  }
  &__title {
    padding-bottom: 0.5rem;
  }
  &__descriptions {
    padding-bottom: 2rem;
  }
  &__dots {
    padding-bottom: 3rem;
  }

  // LOGOs style

  &__logo {
    width: 40%;
    height: 40%;
    align-self: center;
    @include breakpoint-responsive("md") {
      width: 20%;
      height: 20%;
    }
  }
}

.card-Firefox {
  margin: 2rem auto 0 auto;
}

.card-Opera {
  margin: 4rem auto 0 auto;
}

.card-chrome {
  margin: 0 auto;
}
