.footer-info {
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  &__paragraph {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1rem;
    @include breakpoint-responsive("xs") {
      font-size: 0.5rem;
    }
  }
  &__link {
    font-size: 0.8rem;
    @include breakpoint-responsive("xs") {
      font-size: 0.5rem;
    }
  }

  @include breakpoint-responsive("xs") {
    width: 70%;
  }
}
