.footer-nav{
    background-color: $navy-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 4rem;
    

}

.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    &_logo{
        margin-right: 1rem;
    }
}

.menu-nav{

    &__item{
    display: inline-block;
    padding: 0px 20px;
    }
    
    &__link{
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    margin-right: 1rem;
    
    &:hover{
        color:$light-pink;  
    }
   }
}

.footer-socials{
    
    &__link{
        
        transition: color 0.3s;
    &:hover{
        color:$light-pink;  
     }
    }
    &__link--fb{
        margin-right: 1rem;
    }
}