.section-hero >{
    position: relative;
  
}
.header{
    height: 100%;
    width: 100%;
    margin: 0 auto;  
}

.main-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:2rem;

    &__logo{
    cursor: pointer;
    margin-right: auto;;
    }
    
}

.menu-nav{

    &__item{
    display: inline-block;
    padding: 0px 20px;
    }
    
    &__link{
    transition: all 0.3s ease 0s;
    }
    &__link:hover{
        color:$secondary-color;  
    }
}


.btn__login{
    padding: 9px 25px;
    background-color: $secondary-color-pink;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.32);
    transition: all 0.3s ease 0s;
    width: 115px;
    height: 40px;
    text-align: center;
}

.btn__login:hover{
    background-color: #fff;
    color: $primary-text-color;
    border: 1px solid $secondary-color-pink;
}
// Dlaczego po najechaniu przycisku btn Login on tak dziwnie skacze?

.section-hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 2rem;
    padding: 2rem;
    
}

.heading{
    

    &__title{
        
    }
    &__description{
        color:$primary-text-color;
        margin: 2.2rem 0;
        width: 80%;
        line-height: 1.5rem;
    }

    
}

.heading-buttons{
    display: flex;

    // &--Chrome{
    //     background-color: $primary-btn-color;
    // }
    // dlaczego to nie zadziałało ????
}

.btn {
    padding: 9px 5px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.32);
    transition: all 0.3s ease 0s;
    font-size: 0.9rem;
    text-align: center;
}
.hero-img{
    display: flex;
    justify-content: flex-end;
}

.heading-buttons-Chrome{
        background-color: $secondary-color;
        margin-right: 1rem;
        width: 166px;
        height:50px;  
}
.heading-buttons-Firefox{
        background-color: $primary-text-color;  
        color: $primary-bgc-color;
        width: 166px;
        height:50px;
}



// .section-hero::after{
//     content: ""; 
//     position: absolute;
//     bottom: 400px;
//     right: -350px;
//     width: 50%;
//     height: 30%;
//     border-radius: 35%;
//     background-color: $primary-btn-color;
//     opacity: .7; 
//     z-index: -1;
// }
