.header {
  // position: relative;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  @include breakpoint-responsive("md") {
    margin-bottom: 1rem;
  }
  @include breakpoint-responsive("xs") {
    margin-bottom: 0.5rem;
  }

  //  Section hero

  .section-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 2rem;
    padding: 0 2rem;
    margin: 2rem 0;
    grid-row: 2/3;
    @include breakpoint-responsive("md") {
      grid-template-columns: 1fr;
      padding: 0.5rem;
      grid-row: 2/3;
    }
    @include breakpoint-responsive("xs") {
      margin: 0;
    }
  }

  .heading {
    &__title {
      width: 100%;

      @include breakpoint-responsive("md") {
        margin-top: 1.5rem;
        text-align: center;
        margin: 1.5rem auto;
        width: 70%;
      }
    }
    &__description {
      color: $primary-text-color;
      margin: 2.2rem 0;
      width: 88%;
      line-height: 1.7rem;
      // Responsive
      @include breakpoint-responsive("md") {
        margin: 0 auto;
        text-align: center;
        width: 60%;
      }
    }

    // Responsive
    @include breakpoint-responsive("md") {
      grid-row: 2 / 3;
      text-align: center;
      margin-top: 1rem;
    }
  }

  // buttons style

  .heading-buttons {
    display: flex;
    // Responsive
    @include breakpoint-responsive("md") {
      justify-content: center;
      margin-top: 1rem;
    }
    &__btn {
      margin-right: 1rem;
    }
  }
}

//  IMAGE style + blue overlay

.hero-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  // image overlay blue
  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    right: -5%;
    width: 60%;
    height: 80%;
    border-radius: 0 0 0 40%;
    background-color: $light-blue;
    opacity: 0.7;
    z-index: -1;
  }

  // Responsive
  @include breakpoint-responsive("md") {
    grid-row: 1 / 2;
    &::after {
      content: "";
      position: absolute;
      top: 40%;
      right: 0%;
      width: 50%;
      height: 80%;
      border-radius: 0 0 0 40%;
      background-color: $light-blue;
      opacity: 0.7;
      z-index: -1;
    }
  }
  @include breakpoint-responsive("xs") {
    &::after {
      width: 40%;
      height: 60%;
      top: 60%;
      right: 10%;
    }
  }

  &__ilust-1 {
    @include breakpoint-responsive("md") {
      width: 50%;
    }
    @include breakpoint-responsive("xs") {
      width: 35%;
    }
  }
}
