.header{
    height: 100%;
    width: 100%;
    margin: 0 auto;  
}

.main-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:2rem;

    &__logo{
    cursor: pointer;
    margin-right: auto;;
    }
    
}

.menu-nav{

    &__item{
    display: inline-block;
    padding: 0px 20px;
    }
    
    &__link{
    transition: all 0.3s ease 0s;
    }
    &__link:hover{
        color:$light-blue;  
    }
}


.btn__login{
    @include btn;
    padding: 9px 25px;
    background-color: $light-pink;
    color:$white;
    width: 115px;
    height: 40px;
    transition: all 0.1s linear;
}

.btn__login:hover{
    background-color:$white;
    color: $primary-heading-color;
    border: 2px solid $light-pink;
}
// Dlaczego po najechaniu przycisku btn Login on tak dziwnie skacze?

.section-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 2rem;
    padding: 2rem;
    
}

.heading{  
    &__title{
    width: 60%;
    }
    &__description{
        color:$primary-text-color;
        margin: 2.2rem 0;
        width: 80%;
        line-height: 1.5rem;
    }    
}

.heading-buttons{
    display: flex;

    &__Chrome{
        @include btn;
        color:$white;
        background-color: $light-blue;
        margin-right: 1rem;
        width: 166px;
        height:50px;
    }
    &__Firefox{
        @include btn;
        background-color: $light-grey;  
        color: $primary-heading-color;
        width: 166px;
        height:50px;
    }
}


    .hero-img{
        display: flex;
        justify-content: flex-end;
    }



// .section-hero::after{
//     content: ""; 
//     position: absolute;
//     bottom: 400px;
//     right: -350px;
//     width: 50%;
//     height: 30%;
//     border-radius: 35%;
//     background-color: $navy-blue;
//     opacity: .7; 
//     z-index: -1;
// }
