.nav-main {
  position: fixed;
  top:0;
  left:50%;
  transform: translate(-50%, 0%);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: $white;
  z-index: 99999;
  line-height: 100px;
}

.nav-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &__item {
    
    @include breakpoint-responsive("md") {
      border-bottom: 1px solid $border-opacity;
      text-align: center;
    }
  }
  &__item:first-child {
    @include breakpoint-responsive("md") {
      border-top: 1px solid $border-opacity;
      text-align: center;
    }
  }
  &__link {
    @include breakpoint-responsive("md") {
      color: $white;
      padding: 2rem 0;
      font-size: 1.5rem;
    }
    display: inline-block;
    padding-left: 2rem;
  }

  @include breakpoint-responsive("md") {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background: darken($blue, 5);
    visibility: hidden;
    transition: top 1s;
    overflow: hidden;
  }

  .btn__login {
    margin-left: 4rem;
    @include breakpoint-responsive("md") {
      margin: 3rem auto 3rem auto;
      width: 80%;
      font-size: 1.5rem;
      color: $white;
      background-color: transparent;
      border: 2px solid $white;
    }
  }
}

.navbar-socials {
  visibility: hidden;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__fab {
    font-size: 2rem;
    padding: 0 1rem;
  }
}

//for java script to show socials icons in main nav and white logo 
.show {
  visibility: visible;
}




.nav-main__logo-linkWhite{
  // visibility: hidden;
  z-index: 1000;
}

// .nav-main__logo-link{
//   @include breakpoint-responsive("md"){
//   display: none;
//  }
// }
