.nav-main {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $white;
  z-index: 99999;
  @include breakpoint-responsive("md"){
   
  }
  
}

.nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
  

  @include breakpoint-responsive("md") {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background: darken($blue, 5);
    visibility: hidden;
    transition: top 1s;
    overflow: hidden;
  }

  &__item {
   width: 100%;
   text-align: right;

    
    @include breakpoint-responsive("md") {
      border-bottom: 1px solid $border-opacity;
      text-align: center;
      width: 80%;
      padding: 1rem 0;
      
    }
  }
  &__item:first-child {
    @include breakpoint-responsive("md") {
      border-top: 1px solid $border-opacity;
      text-align: center;
      
    }
  }
  &__link {
    padding-left: 2rem;
    text-transform: uppercase;
   
    @include breakpoint-responsive("md") {
      color: $white;
      font-size: 1.5rem;
      padding: 0;
    }
    
  }

  .btn__login {
    margin-left: 4rem;
    @include breakpoint-responsive("md") {
      margin: 3rem auto 3rem auto;
      width: 80%;
      font-size: 1.5rem;
      color: $white;
      background-color: transparent;
      border: 2px solid $white;
    }
  }

  
}

.navbar-socials {
  visibility: hidden;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__fab {
    font-size: 2rem;
    padding: 0 1rem;
  }
}

//for java script to show socials icons in main nav and white logo 
.show {
  visibility: visible;
}


// Logo blue & white

.nav-main__logo-link{
  // width: 100%;
  padding: 0.5rem 0;
  margin-left: 1rem;
  @include breakpoint-responsive("md"){
  position: absolute;
  left:20%;
  top: 40px;
  z-index: 9999;
  padding-left: 1rem;
  display: none;
  }
}

.nav-main__logo-linkWhite{
  display: none;
  @include breakpoint-responsive("md"){
   display: block;
    position: absolute;
    left:5%;
    top: 40px;
    z-index: 9999;
    padding-left: 1rem;
  }
}

